{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}
	Welcome
	{% endtrans %}
{% endblock %}
{% block header %}
	<nav class="navbar navbar-expand-lg navbar-light bg-info">
		<div class="container-fluid">
			<a class="navbar-brand mb-2" href="#">
				<img src="{{ asset('assets/img/logo_transparent.png')}}" alt="Logo">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#HomeNavbar" aria-controls="HomeNavbar" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="HomeNavbar">
				<ul class="navbar-nav ms-auto mb-2">
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="#">{% trans %}
							Home
							{% endtrans %}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">{% trans %}Contact Us{% endtrans %}</a>
					</li>

					<li class="nav-item">
						<a class="nav-link">{% trans %}About Us{% endtrans %}</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<header id="header" class="header text-center">

		<div class="container">
			<div class="row mt-5">
				<div class="col-lg-6 col-md-6 col-sm-10 mt-3">
					<div class="text-center mb-5">
						<div class="section-title">
							{% trans %}Welcome to our website dedicated to the management of a fleet of personal vehicles.{% endtrans %}
						</div>
						<h1 class="title-bold">
							{% trans %}An effective management to your vehicles.{% endtrans %}
						</h1>
						<p class="text-large">
							{% trans %}Access to features is restricted to registered members.{% endtrans %}
						</p>
						<p class="text-large">
							<a class="section-title" href="{{ path('app_register')}}">{% trans %}Not registered Yet ? Create your account Now !{% endtrans %}</a>
						</p>

					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-10 mt-3 ">
					<div class="image-container">
						<img src="{{ asset('assets/img/header-illustration.svg')}}" alt="Illustration" class="img-fluid">
					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}
{% block body %}
	<div class="row mt-2">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success" role="alert">{{ message }}</div>
		{% endfor %}
		{% for message in app.flashes('message') %}
			<div class="alert alert-info" role="alert">{{ message }}</div>
		{% endfor %}
	</div>
	<div class="text-center title-bold">
		<h1>{% trans %}Select your feature{% endtrans %}</h1>
	</div>

	<div class="row m-2">
		<p class="text-italique">
			{% trans %}The "driver" profile allows you to manage operations relating to the use of a vehicle such as keeping a logbook and following a dashboard of vehicle use.{% endtrans %}</p>
		<p class="text-italique">
			{% trans %}The "Manager" profile provides access to dashboards for monitoring maintenance and costs relating to fleet ownership.{% endtrans %}</p>
		<p class="text-italique">
			{% trans %}Each of these profiles depends on the rights granted by the site administrator.{% endtrans %}</p>
	</div>
	<div class="row align-content-between">
		<div class="col-lg-6 col-md-6 col-sm-10 mt-3 g-2">
			<div class="container-image">
				<div class="wrap-image bg-velvet">
					<a href="">
						<figure class="vignette">
							<img src="{{ asset('assets/img/conduire.jpg')}}" alt="Driver">
							<caption class="overlay">
								<p>{% trans %}Driver{% endtrans %}</p>
							</caption>
						</figure>
					</a>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-10 mt-3 ">
			<div class="container-image">
				<div class="wrap-image bg-pink">
					<a href="">
						<figure class="vignette">
							<img src="{{ asset('assets/img/gestion01.jpg')}}" alt="Manager">
							<caption class="overlay">
								<p>{% trans %}Manager{% endtrans %}</p>
							</caption>
						</figure>
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block footer %}
	<div id="footer">
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 footer-contact">
						<h3>GesParc</h3>
						<address>
							Vous pouvez contacter l'auteur à l'adresse
							<a href="http://www.gesfleet.com/contact">www.gesfleet.com</a>.<br>
							Vous pouvez nous laisser un message à :
							<a href="mailto:webmaster@gesfleet.com">le webmaster</a>.<br>
							Vous pouvez aussi venir nous voir :<br>
							Gesfleet<br>
							145, rue des murlins<br>
							45000<br>
							Orléans<br>
							France
						</address>

					</div>
					<div class="col-lg-2 col-md-6 footer-links">
						<h4>Sitemap</h4>
						<ul>
							<li>
								<i class="fa-solid fa-angle-right">Home</i>

							</li>
							<li>
								<i class="fa-solid fa-angle-right">contact</i>

							</li>
							<li>
								<i class="fa-solid fa-angle-right">Infos</i>

							</li>
							<li>
								<i class="fa-solid fa-angle-right">Autre</i>

							</li>
						</ul>
					</div>
					<div class="col-lg-2 col-md-6 footer-links">
						carte openstreetmap
					</div>
					<div class="col-lg-2 col-md-6 footer-links">
						<div class="me-md-auto text-center text-md-start">
							<div class="copyright">
								@ 2019 Copyright
								<strong>GesParc</strong>. All rights reserved.
							</div>
							<div class="credits">
								Designed by
								<a href="http://www.Gesfleet.com">Gesfleet</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
{% endblock %}
