<div class="profile-sidebar">
	<nav id="sidebar">
		<div class="profile-sidebar-header">
			<h3>{{ app.user.firstname }}</h3>
			<p><img src="{{ asset('uploads/images/'~ app.user.images[0].name)}}" class="sidebar-avatar" alt="Avatar"></p>
		</div>
		<ul class="list-unstyled components">
			<li>
				<a class="sidebar-link" href="{{ path('app_user_profile')}}">{% trans %}My Profile{% endtrans %}</a>
			</li>
			<li>
				<a class="sidebar-link" href="{{ path('app_user_profile_edit')}}">{% trans %}Edit my profile{% endtrans %}</a>
			</li>
			<li>
				<a class="sidebar-link" href="{{ path('app_user_data') }}">{% trans %}View my personnal data{% endtrans %}</a>
			</li>
			<li>
				<a class="sidebar-link" href="{{ path('app_forgot_password_request') }}">{% trans %}Reset password{% endtrans %}</a>
			</li>
		</ul>
	</nav>
</div>
