{% extends 'base.html.twig' %}

{% block title %}Personnal data
{% endblock %}


{% block header %}
	{% include "fragments/_nav.html.twig" %}

{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-2">
			{% include "user/_profile-sidebar.html.twig" %}
		</div>
		<div class="col-8 offset-1 py-3">
			<div class="row">
				<h1>{% trans %}Data of
					{% endtrans %}
					{{app.user.firstname}}
					{{app.user.lastname}}
				</h1>
				{% for message in app.flashes('message') %}
					<div class="alert alert-success rounded-2" role="alert">{{ message }}</div>
				{% endfor %}
				<a href="{{ path('app_user_data_download')}}" class="btn btn-info mt-2 mb-2">{% trans %}Download data
					{% endtrans %}</a>

				<div class="table-responsive">
					<table class="table table-bordered table-striped">
						<tr>
							<td>{% trans %}Avatar :{% endtrans %}</td>
							<td>
								<img src="{{ asset('/uploads/images/' ~ app.user.images[0].name)}}" alt=""></td>
						</tr>
						<tr>
							<td>{% trans %}Name :{% endtrans %}</td>
							<td>{{app.user.lastname}}</td>
						</tr>
						<tr>
							<td>{% trans %}Firstname :{% endtrans %}</td>
							<td>{{app.user.firstname}}</td>
						</tr>
						<tr>
							<td>{% trans %}E-mail :{% endtrans %}</td>
							<td>{{app.user.email}}</td>
						</tr>
						<tr>
							<td>{% trans %}Phone number :{% endtrans %}</td>
							<td>{{app.user.phone}}</td>
						</tr>
						<tr>
							<td>{% trans %}Address :{% endtrans %}</td>
							<td>{{app.user.address}}</td>
						</tr>
						<tr>
							<td>{% trans %}City :{% endtrans %}</td>
							<td>{{app.user.city}}</td>
						</tr>
						<tr>
							<td>{% trans %}Postal code :{% endtrans %}</td>
							<td>{{app.user.zipcode}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>{% endblock %}{% block footer %}
{% include "fragments/_footer.html.twig" %}{% endblock %}
