{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}Reset password of
	{% endtrans %}{{ app.user.firstname }}
	{{ app.user.lastname }}
{% endblock %}
{% block header %}
	{% include "fragments/_nav.html.twig" %}
{% endblock %}
{% block body %}
	<div class="container">
		{% for message in app.flashes('error') %}
			<div class="col-12">
				<div class="alert alert-danger" role="alert">{{message}}</div>
			</div>
		{% endfor %}
		<div class="row">
			<div class="col-12 col-md-6">
				<p>
					<img src="{{ asset('assets/img/contact03.jpg')}}" alt="Contact">
				</p>
			</div>

			<div class="col-12 col-md-6">
				<h1>{% trans %}Reset password of
					{% endtrans %}
					{{ app.user.firstname }}
					{{ app.user.lastname }}</h1>
				<form method="post">
					<div class="form-control">
						<label for="pass">{% trans %}Password{% endtrans %}</label>
						<input type="password" id="pass" name="pass" class="form-control">
					</div>
					<div class="form-control">
						<label for="pass2">{% trans %}Confirm password
							{% endtrans %}</label>
						<input type="password" id="pass2" name="pass2" class="form-control">
					</div>
					<button class="btn btn-info mt-2 mb-3">{% trans %}Reset{% endtrans %}</button>

				</form>
			</div>
		</div>
	</div>
{% endblock %}
{% block footer %}
	{% include "fragments/_footer.html.twig" %}
{% endblock %}
