{% extends 'base.html.twig' %}

{% block title %}User profile
{% endblock %}


{% block header %}
	{{	include('user/_profile-header.html.twig') }}
{% endblock %}
{% block body %}
	<div id="layoutSidenav">
		{{	include('user/_profile-sidebar.html.twig') }}

		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-4">
					<h1>{% trans %}Profile of
						{% endtrans %}
						{{app.user.firstname}}
						{{app.user.lastname}}
					</h1>

					<div class="row">

						{% for message in app.flashes('message') %}
							<div class="alert alert-success rounded-2" role="alert">{{ message }}</div>

						{% endfor %}

						<div class="col-12 col-md-6">

							<div class="table-responsive">
								<table class="table table-bordered table-striped">
									<tr>
										<td>{% trans %}Avatar :{% endtrans %}</td>
										<td>
											<img class="img-fluid" src="{{ asset('/uploads/images/' ~ app.user.images[0].name)}}" alt=""></td>
									</tr>
								</table>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="table-responsive">
								<table class="table table-bordered table-striped">

									<tr>
										<td>{% trans %}Name :{% endtrans %}</td>
										<td>{{app.user.lastname}}</td>
									</tr>
									<tr>
										<td>{% trans %}Firstname :{% endtrans %}</td>
										<td>{{app.user.firstname}}</td>
									</tr>
									<tr>
										<td>{% trans %}E-mail :{% endtrans %}</td>
										<td>{{app.user.email}}</td>
									</tr>
									<tr>
										<td>{% trans %}Phone number :{% endtrans %}</td>
										<td>{{app.user.phone}}</td>
									</tr>
									<tr>
										<td>{% trans %}Address :{% endtrans %}</td>
										<td>{{app.user.address}}</td>
									</tr>
									<tr>
										<td>{% trans %}City :{% endtrans %}</td>
										<td>{{app.user.city}}</td>
									</tr>
									<tr>
										<td>{% trans %}Postal code :{% endtrans %}</td>
										<td>{{app.user.zipcode}}</td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
				</main>
			</div>
		</div>
	{% endblock %}
	{% block footer %}
		{% include "fragments/_footer.html.twig" %}
	{% endblock %}
