{% extends 'base.html.twig' %}

{% block title %}User profile
{% endblock %}


{% block header %}
	{% include "fragments/_nav.html.twig" %}

{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-2">
			{% include "user/_profile-sidebar.html.twig" %}
		</div>
		<div class="col-8 offset-1 py-3">
			<div class="row">
				<h1>Profile
				</h1>
				{% for message in app.flashes('message') %}
					<div class="alert alert-success rounded-2" role="alert">{{ message }}</div>

				{% endfor %}

				{{dump(app.user)}}
				<div class="col-6">
					<h2>{% trans %}Profile of
						{% endtrans %}

						{{app.user.firstname}}
						{{app.user.lastname}}</h2>
					<div class="row">
						<div class="col-6 col-md-3">
							{% trans %}Name :{% endtrans %}
						</div>
						<div class="col-6 col-md-3">{{app.user.lastname}}</div>
						<div class="col-6 col-md-3">
							{% trans %}Firstname :{% endtrans %}
						</div>
						<div class="col-6 col-md-3">{{app.user.firstname}}</div>
					</div>
					<div class="row">
						<div class="col-6 col-md-3">
							{% trans %}E-mail :{% endtrans %}
						</div>
						<div class="col-6 col-md-3">{{app.user.email}}</div>
						<div class="col-6 col-md-3">
							{% trans %}Phone number :{% endtrans %}
						</div>
						<div class="col-6 col-md-3">{{app.user.phone}}</div>
						<div class="row">
							<div class="col-6 col-md-3">
								{% trans %}Address :{% endtrans %}
							</div>
							<div class="col-6 col-md-3">{{app.user.address}}</div>
							<div class="col-6 col-md-3">
								{% trans %}city:{% endtrans %}
							</div>
							<div class="col-6 col-md-3">{{app.user.city}}</div>
							<div class="col-6 col-md-3">
								{% trans %}Zip Code:{% endtrans %}
							</div>
							<div class="col-6 col-md-3">{{app.user.zipcode}}</div>
						</div>
					</div>
					<div class="row">
						<div class="col-6 col-md-3">
							{% trans %}gender :{% endtrans %}
						</div>
						<div class="col-6 col-md-3">
							{{app.user.gender}}
						</div>
					</div>

				</div>
				<div class="col-6">Intox</div>
			</div>

		</div>
	</div>
</div>{% endblock %}{% block footer %}
{% include "fragments/_footer.html.twig" %}{% endblock %}
